<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>People</title>
</head>
<body>

<p>people:</p>

<div th:each="person : ${people}">
    <a th:href="@{people/{id}(id=${person.getPerson_id()})}" th:text="${person.getName()}">user</a>
    <a th:text="${person.getAge()}">user</a>
</div>
<br/>
<hr/>
<form th:method="GET" th:action="@{people/new}">
    <input type="submit"  value="Create new person"/>
</form>
</body>
</html>